/* Main Styles */
body {
  font-family: "Padauk", sans-serif;
  margin: 0px;
  padding-bottom: 40px;
  min-height: 100%;
}

/* .main {
  height: 700px;
  background-image: url(C:\Users\khia.emslie_winyama\Desktop\shecodes\she-codes-html-website-project\images\cactus.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  text-align: center;
  max-width: 100%;
  min-height: 100%;
}

/* Navigation Styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 36px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

/* using the !important rule will override all previous styling rules (this is for when you click on the link and it stays black and bold */
.active-nav-link a {
  color: black !important;
}

/* Home Page styles */
/* .portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr;
} */

.portfolio-items-wrapper {
  display: flex;
  justify-content: center;
}

/* .portfolio-item-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
} */

.greeting {
  font-size: 20pt;
  font-weight: 600;
  color: black;
  padding: 4%;
}

/* .greeting-image {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 50px;
} */

.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 200;
  color: lightsalmon;
  opacity: 20;
  font-size: 30pt;
  position: center;
  padding: 5%;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 200;
  color: steelblue;
  text-shadow: 10px 3px 15px white;
  font-size: 30pt;
  position: center;
}

.portfolio-item-wrapper .subtitle {
  opacity: 50;
  transition: opacity 0.3 ease;
}

.portfolio-item-wrapper:hover .subtitle {
  opacity: 50;
}

/* About Page styles  */
.about-page-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* profile */
.profile-image-wrapper img {
  top: 50px;
  width: 400px;
  border-radius: 50%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: steelblue;
  font-weight: 300;
}

/* my projects */
.project-image-wrapper img {
  top: 30px;
  width: 400px;
  border-radius: 50%;
}

.project-content-wrapper {
  padding: 30px;
}

.project-content-wrapper h1 {
  color: steelblue;
  font-weight: 300;
}

/* Contact form styles */
.contact-image-wrapper {
  opacity: 60%;
  box-shadow: 0 0 8px white inset;
}

header {
  text-align: center;
}

form {
  margin: 50px auto;
  width: 60%;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}

.form-item label {
  flex-basis: 150px;
  font-size: 17px;
  color: steelblue;
}

.form-item input,
.form-item textarea {
  flex-basis: 70%;
  border: 1px solid lightsteelblue;
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid steelblue;
}

.form-item input,
.form-item textarea,
.form-item button {
  border: px solid lightsteelblue;
  padding: 5px;
  font-size: 18px;
}

.form-item button:hover {
  border: 1px solid steelblue;
  color: steelblue;
  font-weight: 300;
}

.form-item button {
  width: 100px;
  height: 40px;
}

/* footer style */

.footer {
  /* need to make footer to stay at the bottom of the screen on the Contact page */
  bottom: 0;
}

.footer-bottom {
  color: teal;
  bottom: 0;
  font-weight: 500;
  text-align: center;
}
/* trouble locking footer at the bottom of page see CONTACT page. */

/* Media Queries !  */
/* For these media queries - look at doing Desktop First.  */

/* Large Device */
@media (max-width: 1024px) {
  .greeting {
    font-size: 17pt;
  }

  .img-text-wrapper .subtitle {
    font-size: 35pt;
  }
  .img-text-wrapper:hover .subtitle {
    font-size: 35pt;
  }
}

/* Medium Device */
@media (max-width: 760px) {
  .greeting {
    font-size: 15pt;
  }

  .img-text-wrapper.subtitle {
    font-size: 30pt;
  }

  .img-text-wrapper:hover .subtitle {
    font-size: 30pt;
  }

  .profile-content-wrapper h1 {
    font-size: 20pt;
    color: steelblue;
    font-weight: 300;
  }

  .project-content-wrapper h1 {
    font-size: 20pt;
    color: steelblue;
    font-weight: 300;
  }

  .profile-image-wrapper img {
    top: 50px;
    width: 350px;
    border-radius: 50%;
  }

  .project-image-wrapper img {
    top: 30px;
    width: 350px;
    border-radius: 50%;
  }

  header {
    font-size: 10pt;
  }

  form {
    margin: 50px auto;
    width: 80%;
  }
}

/* Small Device */
@media (max-width: 640px) {
  .greeting {
    font-size: 10pt;
  }

  .img-text-wrapper.subtitle {
    font-size: 20pt;
  }

  .img-text-wrapper:hover .subtitle {
    font-size: 20pt;
  }

  .about-page-wrapper {
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
  }

  .profile-content-wrapper h1 {
    font-size: 15pt;
    color: steelblue;
    font-weight: 300;
  }

  .project-content-wrapper h1 {
    font-size: 15pt;
    color: steelblue;
    font-weight: 300;
  }

  .profile-image-wrapper img {
    top: 50px;
    width: 200px;
    border-radius: 50%;
  }

  .project-image-wrapper img {
    top: 30px;
    width: 200px;
    border-radius: 50%;
  }

  .profile-content-wrapper {
    font-size: 15px;
  }

  .a-little-bit-about-me {
    justify-content: center;
    text-align: center;
  }

  .profile-content-list {
    justify-content: center;
    text-align: center;
  }

  .project-content-wrapper {
    font-size: 15px;
  }

  .my-projects-to-come {
    justify-content: center;
    text-align: center;
  }

  .project-content-list {
    justify-content: center;
    text-align: center;
    font-size: 15px;
  }

  header {
    font-size: 7pt;
  }

  form {
    margin: 50px auto;
    width: 80%;
  }
}

/* next time consider mobile first? */
