/* Main Styles */
body {
  font-family: "Padauk", sans-serif;
  margin: 0px;
  padding-bottom: 40px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  text-align: center;
  max-width: 100%;
  min-height: 100%;
}

/* Navigation Styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 36px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid orange;
}

.nav-link-wrapper a:hover {
  color: silver;
}

.active-nav-link {
  border-bottom: 1px solid silver;
}

/* using the !important rule will override all previous styling rules (this is for when you click on the link and it stays black and bold */
.active-nav-link a {
  color: silver !important;
}

.right-side {
  color: lightsalmon;
}

/* Home Page styles */
/* .portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr;
} */

.portfolio-items-wrapper {
  display: flex;
  justify-content: center;
}

/* .portfolio-item-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
} */

.greeting {
  font-size: 50pt;
  font-family: "Open Sans", sans-serif;
  color: gainsboro;
  padding: 4%;
}

/* .greeting-image {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 50px;
} */

.img-text-wrapper {
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 70px;
  padding-right: 70px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 200;
  color: gainsboro;
  opacity: 20;
  font-size: 20pt;
  position: center;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Work Sans", sans-serif;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 200;
  color: white;
  text-shadow: 10px 3px 15px white;
  font-size: 20pt;
  position: center;
}

.portfolio-item-wrapper .subtitle {
  opacity: 50;
  transition: opacity 0.3 ease;
}

.portfolio-item-wrapper:hover .subtitle {
  opacity: 50;
}

/* About page in Dev branch */
section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  width: 350px;
  text-align: center;
  margin: 5px;
  border-radius: 15%;
}

.img-holder {
  width: 98%;
  height: 14vw;
  object-fit: cover;
  border-radius: 10%;
}

.img-holder img {
  width: 98%;
  height: 12vw;
  object-fit: cover;
  border-radius: 10%;
  padding: 10px;
}

.external-links a:link {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.external-links a:visited {
  color: gainsboro;
  text-decoration: none;
}

.external-links a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
  transition: border-bottom 0.5s;
}

.project-name a:link {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.project-name a:visited {
  color: gainsboro;
  text-decoration: none;
}

.project-name a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
  transition: border-bottom 0.5s;
}

.tech-stack {
  font-weight: lighter;
  color: gainsboro;
}

/* About Page styles  */
.about-page-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* profile */
.profile-image-wrapper img {
  top: 50px;
  width: 400px;
  border-radius: 50%;
}

.profile-content-wrapper {
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}

.profile-content-text {
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Open Sans", sans-serif;
}

.map-image {
  display: grid 1fr 1fr 1fr;
  /* justify-content: center;
  align-items: center; */
  /* flex-direction: column; */
  padding: 30px;
  margin: 30px;
  height: 300px;
  width: 500px;
}

.profile-content-wrapper h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  padding: 5px;
}

.external-links {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  color: salmon;
}

/* Contact form styles */
.contact-image-wrapper {
  opacity: 60%;
  box-shadow: 0 0 8px white inset;
}

header {
  text-align: center;
}

form {
  margin: 50px auto;
  width: 60%;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.form-item label {
  flex-basis: 150px;
  font-size: 17px;
  color: steelblue;
}

.form-item input,
.form-item textarea {
  flex-basis: 70%;
  border: none;
  border-bottom: 1px solid white;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  padding: 5px;
}

.form-item input:hover,
.form-item textarea:hover {
  border: none;
  border-bottom: 1px solid lightsteelblue;
  background: none;
  font-family: "Courier New", Courier, monospace;
  transition: 0.5s all ease-in-out;
}

.form-item button {
  background: none;
  border: solid 1px lightblue;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.form-item button:hover {
  border: 1px solid lightblue;
  color: white;
  font-weight: 300;
  font-weight: bold;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

.form-item button {
  width: 100px;
  height: 40px;
}

.linkedin-link {
  padding: 20px;
}

.linkedin-link a:link {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.linkedin-link a:visited {
  color: gainsboro;
  text-decoration: none;
}

.linkedin-link a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
  transition: border-bottom 0.5s;
}

/* footer style */

.footer {
  /* need to make footer to stay at the bottom of the screen on the Contact page */
  bottom: 0;
  /* position: fixed; */
}

.footer-bottom {
  color: snow;
  bottom: 0;
  font-weight: 500;
  text-align: center;
}
/* trouble locking footer at the bottom of page see CONTACT page. */

/* Media Queries !  */
/* For these media queries - look at doing Desktop First.  */

/* Large Device */
@media (max-width: 1024px) {
  .greeting {
    font-size: 17pt;
  }

  .img-text-wrapper .subtitle {
    font-size: 35pt;
  }
  .img-text-wrapper:hover .subtitle {
    font-size: 35pt;
  }
}

/* Medium Device */
@media (max-width: 760px) {
  .greeting {
    font-size: 15pt;
  }

  .img-text-wrapper.subtitle {
    font-size: 30pt;
  }

  .img-text-wrapper:hover .subtitle {
    font-size: 30pt;
  }

  .profile-content-wrapper h1 {
    font-size: 20pt;
    color: steelblue;
    font-weight: 300;
  }

  .project-content-wrapper h1 {
    font-size: 20pt;
    color: steelblue;
    font-weight: 300;
  }

  .profile-image-wrapper img {
    top: 50px;
    width: 350px;
    border-radius: 50%;
  }

  .project-image-wrapper img {
    top: 30px;
    width: 350px;
    border-radius: 50%;
  }

  header {
    font-size: 10pt;
  }

  form {
    margin: 50px auto;
    width: 80%;
  }
}

/* Small Device */
@media (max-width: 640px) {
  .greeting {
    font-size: 10pt;
  }

  .img-text-wrapper.subtitle {
    font-size: 20pt;
  }

  .img-text-wrapper:hover .subtitle {
    font-size: 20pt;
  }

  .about-page-wrapper {
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
  }

  .profile-content-wrapper h1 {
    font-size: 15pt;
    color: steelblue;
    font-weight: 300;
  }

  .project-content-wrapper h1 {
    font-size: 15pt;
    color: steelblue;
    font-weight: 300;
  }

  .profile-image-wrapper img {
    top: 50px;
    width: 200px;
    border-radius: 50%;
  }

  .project-image-wrapper img {
    top: 30px;
    width: 200px;
    border-radius: 50%;
  }

  .profile-content-wrapper {
    font-size: 15px;
  }

  .a-little-bit-about-me {
    justify-content: center;
    text-align: center;
  }

  .profile-content-list {
    justify-content: center;
    text-align: center;
  }

  .project-content-wrapper {
    font-size: 15px;
  }

  .my-projects-to-come {
    justify-content: center;
    text-align: center;
  }

  .project-content-list {
    justify-content: center;
    text-align: center;
    font-size: 15px;
  }

  header {
    font-size: 7pt;
  }

  form {
    margin: 50px auto;
    width: 80%;
  }
}

/* next time consider mobile first? */
