/* Main Styles */
body {
  font-family: "Padauk", sans-serif;
  margin: 0px;
  min-height: 100%
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  text-align: center;
  max-width: 100%;
  min-height: 100%;
}

/* Navigation Styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 36px
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.active-nav-link {
  border-bottom:1px solid black;
}

/* using the !important rule will override all preivious styling rules (this is for when you click on the link and it stays black and bold */
.active-nav-link a {
  color: black !important;
}

/* Home Page styles */
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr;  
}

.portfolio-item-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center
}

.greeting {
  font-size: 20pt;
  font-weight: 600;
  color: black;
  padding: 4%;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 600;
  color: transparent;
  font-size: 40pt;
  position: center;
  padding: 5%;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 200;
  color: steelblue;
  text-shadow: 10px 3px 15px white;
  font-size: 40pt;
  position: center;
}

.portfolio-item-wrapper .subtitle {
  opacity: 100;
  transition: opacity .3 ease;
}

.portfolio-item-wrapper:hover .subtitle {
  opacity: 50;
}

/* About Page styles  */
.about-page-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* a little bit about me... */
.profile-image-wrapper img {
  /* position: relative; */
  top: 50px;
  width: 400px;
  border-radius: 50%;
}

.profile-content-wrapper {
  padding: 30px
}

.profile-content-wrapper h1 {
  color: steelblue;
  font-weight: 300;
}

/* my projects to come... */
.project-image-wrapper img {
  /* position: relative; */
  display: block 
  top: 30px;
  width: 400px;
  border-radius: 50%;
}

.project-content-wrapper h1 {
  color: steelblue;
  font-weight: 300;
}

/* style for list of projects - HELP CLARIFY HOW TO ACTUALLY SHOW THIS LIST */
.project-list {
  list-style-type:lower-alpha;
  font-weight: 600;
}

/* to also add a project section in the About webpage */

/* Contact form styles */
/* look at ways you can blur the edges of background images to website background */
.contact-image-wrapper {
  opacity: 60%;
  box-shadow: 0 0 8px white inset;
}

header {
  text-align: center;
}

form {
  margin: 50px auto;
  width: 60%;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}

.form-item label {
  flex-basis: 150px;
  font-size: 17px;
  color: steelblue;
}

.form-item input,
.form-item textarea {
  flex-basis: 70%;
  border: 1px solid lightsteelblue;
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid steelblue;
}

.form-item input,
.form-item textarea,
.form-item button {
  border: px solid lightsteelblue;
  padding: 5px;
  font-size: 18px;
}

.form-item button:hover {
  border: 1px solid steelblue;
  color: steelblue;
  font-weight: 300;
}

.form-item button {
  width: 100px;
  height: 40px;
}

/* footer style */

.footer {
  /* need to make footer to stay at the bottom of the screen on the Contact page */
  position: relative;
  margin-bottom: 0;
  color: rgb(11, 80, 80);
  font-family: "Padauk", sans-serif;
  font-weight: 500;
  text-align: center;
  }

/* Media Queries !  PLEASE CHECK ALL OF THESE. AS OF CURRENT THE NAV BAR DISAPPEARS WHEN THE SCREEN BECOMES SMALLER */

@media (max-width=600px) {
   .container {
     display: block;
   }
  }


